.menu__box {
  @apply shadow-main-day dark:shadow-main-night;
  @apply text-white dark:text-gray-900;
}

.menu__content {
  max-height: inherit;
  contain: content;
  /* This is required for an issue on Chrome 65
  that prevents scrolling after a menu is opened */
  will-change: transform;
  @apply relative rounded-lg bg-white dark:bg-gray-900;
  @apply leading-tight text-gray-900 dark:text-gray-100;
  @apply overflow-y-auto overflow-x-hidden scrolling-touch;
}

.menu__box[class*='-enter-from'] .menu__item {
  min-width: 0;
  pointer-events: none;
}
.menu__box[class*='-enter-to'] .menu__item {
  pointer-events: auto;
  transition-delay: 0.1s;
}
.menu__box[class*='-leave-active'],
.menu__box[class*='-leave-to'] {
  pointer-events: none;
}
