@tailwind base;
@tailwind components;

@import url(../../core/src/styles/input.css);
@import url(../../core/src/styles/popper.css);

@import url(../../core/src/components/Alert/Alert.css);
@import url(../../core/src/components/Autocomplete/Autocomplete.css);
@import url(../../core/src/components/Btn/Btn.css);
@import url(../../core/src/components/BtnToggle/BtnToggle.css);
@import url(../../core/src/components/Checkbox/Checkbox.css);
@import url(../../core/src/components/DataTable/DataTable.css);
@import url(../../core/src/components/ExpandTransition/ExpandTransition.css);
@import url(../../core/src/components/Icon/Icon.css);
@import url(../../core/src/components/Image/Image.css);
@import url(../../core/src/components/Label/Label.css);
@import url(../../core/src/components/LoadingSpinner/LoadingSpinner.css);
@import url(../../core/src/components/Menu/Menu.css);
@import url(../../core/src/components/Menu/MenuItem.css);
@import url(../../core/src/components/Messages/Messages.css);
@import url(../../core/src/components/Modal/Modal.css);
@import url(../../core/src/components/Progress/Progress.css);
@import url(../../core/src/components/Radio/Radio.css);
@import url(../../core/src/components/Select/Select.css);
@import url(../../core/src/components/Switch/Switch.css);
@import url(../../core/src/components/TextArea/TextArea.css);
@import url(../../core/src/components/Tooltip/Tooltip.css);
@import url(../../core/src/components/transitions/transitions.css);

@tailwind utilities;

@layer base {
  /* Fonts */
  @font-face {
    font-family: 'MyriadPro';
    src: url('../../shared/assets/fonts/MyriadPro-Regular.eot');
    src: url('../../shared/assets/fonts/MyriadPro-Regular.eot#iefix')
        format('embedded-opentype'),
      url('../../shared/assets/fonts/MyriadPro-Regular.woff') format('woff'),
      url('../../shared/assets/fonts/MyriadPro-Regular.ttf') format('truetype'),
      url('../../shared/assets/fonts/MyriadPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'MyriadPro';
    src: url('../../shared/assets/fonts/MyriadPro-Semibold.eot');
    src: url('../../shared/assets/fonts/MyriadPro-Semibold.eot#iefix')
        format('embedded-opentype'),
      url('../../shared/assets/fonts/MyriadPro-Semibold.woff') format('woff'),
      url('../../shared/assets/fonts/MyriadPro-Semibold.ttf') format('truetype'),
      url('../../shared/assets/fonts/MyriadPro-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'MyriadPro';
    src: url('../../shared/assets/fonts/MyriadPro-Bold.eot');
    src: url('../../shared/assets/fonts/MyriadPro-Bold.eot')
        format('embedded-opentype'),
      url('../../shared/assets/fonts/MyriadPro-Bold.woff') format('woff'),
      url('../../shared/assets/fonts/MyriadPro-Bold.ttf') format('truetype'),
      url('../../shared/assets/fonts/MyriadPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  /* italic */

  @font-face {
    font-family: 'MyriadPro';
    src: url('../../shared/assets/fonts/MyriadPro-It.eot');
    src: url('../../shared/assets/fonts/MyriadPro-It.eot#iefix')
        format('embedded-opentype'),
      url('../../shared/assets/fonts/MyriadPro-It.woff') format('woff'),
      url('../../shared/assets/fonts/MyriadPro-It.ttf') format('truetype'),
      url('../../shared/assets/fonts/MyriadPro-It.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'MyriadPro';
    src: url('../../shared/assets/fonts/MyriadPro-SemiboldIt.eot');
    src: url('../../shared/assets/fonts/MyriadPro-SemiboldIt.eot#iefix')
        format('embedded-opentype'),
      url('../../shared/assets/fonts/MyriadPro-SemiboldIt.woff') format('woff'),
      url('../../shared/assets/fonts/MyriadPro-SemiboldIt.ttf')
        format('truetype'),
      url('../../shared/assets/fonts/MyriadPro-SemiboldIt.otf')
        format('opentype');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'MyriadPro';
    src: url('../../shared/assets/fonts/MyriadPro-BoldIt.eot');
    src: url('../../shared/assets/fonts/MyriadPro-BoldIt.eot')
        format('embedded-opentype'),
      url('../../shared/assets/fonts/MyriadPro-BoldIt.woff') format('woff'),
      url('../../shared/assets/fonts/MyriadPro-BoldIt.ttf') format('truetype'),
      url('../../shared/assets/fonts/MyriadPro-BoldIt.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }

  /* cond */

  @font-face {
    font-family: 'MyriadPro-Cond';
    src: url('../../shared/assets/fonts/MyriadPro-Cond.eot');
    src: url('../../shared/assets/fonts/MyriadPro-Cond.eot#iefix')
        format('embedded-opentype'),
      url('../../shared/assets/fonts/MyriadPro-Cond.woff') format('woff'),
      url('../../shared/assets/fonts/MyriadPro-Cond.ttf') format('truetype'),
      url('../../shared/assets/fonts/MyriadPro-Cond.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'MyriadPro-Cond';
    src: url('../../shared/assets/fonts/MyriadPro-CondIt.eot');
    src: url('../../shared/assets/fonts/MyriadPro-CondIt.eot#iefix')
        format('embedded-opentype'),
      url('../../shared/assets/fonts/MyriadPro-CondIt.woff') format('woff'),
      url('../../shared/assets/fonts/MyriadPro-CondIt.ttf') format('truetype'),
      url('../../shared/assets/fonts/MyriadPro-CondIt.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'MyriadPro-Cond';
    src: url('../../shared/assets/fonts/MyriadPro-BoldCond.eot');
    src: url('../../shared/assets/fonts/MyriadPro-BoldCond.eot')
        format('embedded-opentype'),
      url('../../shared/assets/fonts/MyriadPro-BoldCond.woff') format('woff'),
      url('../../shared/assets/fonts/MyriadPro-BoldCond.ttf') format('truetype'),
      url('../../shared/assets/fonts/MyriadPro-BoldCond.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'MyriadPro-Cond';
    src: url('../../shared/assets/fonts/MyriadPro-BoldCondIt.eot');
    src: url('../../shared/assets/fonts/MyriadPro-BoldCondIt.eot')
        format('embedded-opentype'),
      url('../../shared/assets/fonts/MyriadPro-BoldCondIt.woff') format('woff'),
      url('../../shared/assets/fonts/MyriadPro-BoldCondIt.ttf')
        format('truetype'),
      url('../../shared/assets/fonts/MyriadPro-BoldCondIt.otf')
        format('opentype');
    font-weight: 700;
    font-style: italic;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
    @apply font-myriad antialiased;
    @apply p-0 m-0;
  }

  #app {
    @apply flex flex-col min-h-full;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
  }

  img {
    border-style: none;
  }

  /* Turn Off Number Input Arrows */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Turn Off Date Input Arrows */
  [type='date']::-webkit-inner-spin-button {
    display: none;
  }

  /* Safari text color on faded on input disabled */
  input:disabled {
    -webkit-text-fill-color: currentColor;
  }

  /* Change Autocomplete styles in Chrome*/
  form input:-webkit-autofill,
  form input:-webkit-autofill:hover,
  form input:-webkit-autofill:focus,
  form input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
  }
}

@layer components {
  .container {
    max-width: 1178px; /* max width 1130 + padding 48px = 1178px */
    @apply mx-auto px-4 sm:px-6;
  }

  /* Used in Welcome, PasswordRestore, PasswordRestoreConfirm, Paper, NotFound, SignInByPhone, Registration, LoginRestore */
  .content {
    @apply flex-grow flex flex-col relative overflow-x-hidden;
  }

  /* Signin, Signup views */
  .auth-left {
    width: 44% !important;
  }
  .auth-left--bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -300px 380px;
    background-image: url(./assets/img/cloud.svg);
  }

  /* override draggable */
  .draggable-mirror {
    z-index: 500 !important;
  }
}

@layer utilities {
  .border-spacing-y-px {
    border-spacing: 0 1px;
  }
  .border-spacing-y-1 {
    border-spacing: 0 4px;
  }
  .border-spacing-y-2 {
    border-spacing: 0 8px;
  }

  .placeholder-sm::placeholder {
    font-size: 14px;
  }
  .placeholder-base::placeholder {
    font-size: 16px;
  }

  .leading-12 {
    line-height: 3rem;
  }

  @variants responsive {
    .list-cols-1 {
      columns: 1;
    }
    .list-cols-2 {
      columns: 2;
    }
    .list-cols-3 {
      columns: 3;
    }
  }

  /* DOTS */
  .dots {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }
  .dots::before {
    display: block;
    content: '. . . . . . . . . . . . . . . . . . . . '
      '. . . . . . . . . . . . . . . . . . . . '
      '. . . . . . . . . . . . . . . . . . . . '
      '. . . . . . . . . . . . . . . . . . . . ';
  }

  /* Hide scrollbar */
  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .scrollbar-hidden::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background-color: transparent;
  }
  .scrollbar-hidden::-webkit-scrollbar-thumb {
    width: 0 !important;
    height: 0 !important;
    background-color: transparent;
  }
  /*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/
  .scrollbar-hidden::-webkit-scrollbar-corner {
    display: none;
    height: 0px;
    width: 0px;
  }
}
