.btn {
  @apply h-12 relative rounded-lg inline-flex justify-center items-center align-middle px-6;
  @apply leading-none whitespace-nowrap;
  @apply transition-colors duration-100 ease-out;
  @apply select-none focus:outline-none;
  @apply focus:ring focus:ring-blue-400 with-focus-visible;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  min-width: 3rem;
}

.btn--small {
  @apply h-10 text-sm px-4;
  min-width: 2.5rem;
}
.btn--x-small {
  @apply h-8 text-sm rounded px-2;
  min-width: 2rem;
}
.btn--mini {
  @apply h-6 text-xs rounded px-1;
  min-width: 1.5rem;
}

.btn--icon {
  @apply p-0;
}

.btn--block {
  @apply flex w-full justify-center;
}

.btn--loading {
  @apply disabled:opacity-100;
}

.btn--primary {
  @apply text-white bg-blue-500;
  @apply hover:text-white dark:hover:text-white hover:bg-blue-400 dark:hover:bg-blue-400;
  @apply active:text-white dark:active:text-white active:bg-blue-550 dark:active:bg-blue-550;
  @apply disabled:bg-gray-100 dark:disabled:bg-gray-100 disabled:text-gray-700 dark:disabled:text-gray-700;
}
.btn--loading.btn--primary {
  @apply disabled:text-white dark:disabled:text-white disabled:bg-blue-500 dark:disabled:bg-blue-500;
}
.btn--primary:not(:disabled):hover .icon,
.btn--primary:not(:disabled):active .icon {
  @apply text-white dark:text-white;
}

.btn--outlined {
  @apply text-blue-500 border border-light-gray-400 dark:border-gray-400;
  @apply hover:text-white dark:hover:text-white hover:border-blue-400 dark:hover:border-blue-400 hover:bg-blue-400 dark:hover:bg-blue-400;
  @apply active:text-white dark:active:text-white active:border-blue-550 dark:active:border-blue-550 active:bg-blue-550 dark:active:bg-blue-550;
  @apply disabled:text-gray-100 dark:disabled:text-gray-100 disabled:border-light-gray-400 dark:disabled:border-gray-400 disabled:bg-transparent dark:disabled:bg-transparent;
}
.btn--loading.btn--outlined {
  @apply disabled:text-blue-500 dark:disabled:text-blue-500;
}
.btn--outlined:not(:disabled):hover .icon,
.btn--outlined:not(:disabled):active .icon {
  @apply text-white dark:text-white;
}

.btn--text {
  @apply text-blue-500;
  @apply hover:text-blue-400 dark:hover:text-blue-400;
  @apply active:text-blue-500 dark:active:text-blue-500 active:brightness-90;
  @apply disabled:text-gray-100 dark:disabled:text-gray-100;
}

.btn--link {
  @apply text-blue-500;
  @apply hover:text-blue-400 dark:hover:text-blue-400;
  @apply active:text-blue-500 dark:active:text-blue-500 active:brightness-90;
  @apply disabled:text-gray-100 dark:disabled:text-gray-100;
  @apply text-left h-auto rounded-none p-0;
}

.btn__loader {
  border-radius: inherit;
  @apply absolute inset-0 flex items-center justify-center cursor-wait overflow-hidden;
  @apply bg-gray-900/20 dark:bg-gray-900/20;
}

.btn .icon--left {
  @apply mr-2;
}
.btn .icon--right {
  @apply ml-2;
}
.btn--x-small .icon--left,
.btn--mini .icon--left {
  @apply mr-1;
}
.btn--x-small .icon--right,
.btn--mini .icon--right {
  @apply ml-1;
}
