#app {
  @apply antialiased h-full;
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

.container {
  @apply px-6;
}
.container--sm {
  @apply px-4;
}
.container--xs {
  padding-left: 16px;
  padding-right: 16px;
}
@screen sm {
  .container--sm {
    @apply px-6;
  }
}
@screen xl {
  .container,
  .container--sm {
    padding-left: 75px;
    padding-right: 75px;
  }
  .container--xs {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.content {
  @apply min-h-full flex flex-col relative;
  overflow-x: hidden;
}

/* Signin, Signup views */
.auth-left {
  width: 44%!important;
}
.auth-left--bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -300px 380px;
  background-image: url(../img/cloud.svg);
}
