.container {
  @apply px-6;
}
.container--sm {
  @apply px-4;
}
.container--xs {
  padding-left: 16px;
  padding-right: 16px;
}
@screen sm {
  .container--sm {
    @apply px-6;
  }
}
@screen xl {
  .container,
  .container--sm {
    padding-left: 75px;
    padding-right: 75px;
  }
  .container--xs {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.header-profile-menu {
  box-shadow: none!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}
.header-profile-menu.header-profile-menu--light {
  overflow: visible;
  contain: initial;
}
.header-profile-menu_light-shadow {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: transparent;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.content {
  @apply flex-grow flex flex-col relative;
  overflow-x: hidden;
}

/* smaller placeholder font on spec view */
.spec input::placeholder,
.spec textarea::placeholder {
  font-size: 14px;
  line-height: 26px;
}

/* Signin, Signup views */
.auth-left {
  width: 44%!important;
}
.auth-left--bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -300px 380px;
  background-image: url(../img/cloud.svg);
}

.file-list__item .file-list__close {
  opacity: 0;
}

.file-list__item:hover .file-list__close {
  opacity: 1;
}
