.status-bar {
  @apply flex;
  height: 56px;
}
@screen md {
  .status-bar {
    height: 32px;
  }
}

.status-bar__logo {
  display: flex;
  align-items: center;
}

.status-bar__logo svg {
  height: 16px;
}

.status-bar__items {
  @apply flex items-center;
  @apply pl-3;
}

.status-bar__items > a:not(:last-child) {
  margin-right: 6px; 
}