.text-field {
  padding-top: 10px;
  min-width: 64px;
}
.text-field__controls {
  @apply relative w-full flex items-center;
}
.text-field__slot {
  @apply relative w-full flex items-center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.text-field__slot:before {
  @apply absolute left-0 right-auto w-full;
  @apply border-t border-solid border-gray-light;
  content: "";
  bottom: -1px;
}

/* TEXTFIELD LABEL */
.text-field__label {
  @apply absolute left-0 right-auto;
  @apply pointer-events-none truncate;
  @apply text-gray-lighter;
  top: 5px;
  height: 1.25em;
  max-width: 90%;
  transform-origin: top left;
  transition: .3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.text-field__label--active {
  @apply text-gray-light;
  max-width: 133%;
  transform: translateY(-18px) scale(0.75);
}

/* TEXTFIELD INPUT */
.text-field input {
  @apply appearance-none outline-none w-full;
  @apply bg-accent1 text-white;
}

/* TEXTFIELD HAS ERROR STATE */
.text-field.has-error .text-field__label {
  @apply text-error;
}
.text-field.has-error .text-field__slot:before {
  @apply border-error;
}
.text-field.has-error.text-field--outlined .text-field__slot {
  @apply border-red;
}
.text-field.has-error.text-field--squared .text-field__slot {
  @apply border-red;
}

/* TEXTFIELD OUTLINED */
.text-field--outlined {
  @apply leading-none text-base;
}
.text-field--outlined .text-field__slot {
  padding: 0 8px;
  border-color: #4b4b4b;
  @apply border rounded-sm;
}
.text-field--outlined .text-field__slot:before {
  content: none;
}
.text-field--outlined input {
  background: transparent;
}

/* TEXTFIELD SQUARED */
.text-field--squared {
  @apply text-base;
}
.text-field--squared .text-field__slot {
  padding: 0 8px;
  border-color: #4b4b4b;
  @apply border;
}
.text-field--squared .text-field__slot:before {
  content: none;
}
.text-field--squared input {
  @apply text-white;
}
.text-field--squared input {
  background: transparent;
}

/* TEXTFIELD SINGLE LINE */
.text-field--single-line,
.text-field--single-line .text-field__slot {
  padding: 0;
}
.text-field--single-line input {
  background-color: transparent;
}

/* TEXTFIELD COLORED */
.text-field--colored input {
  background: transparent;
}
.text-field--colored input {
  @apply text-primary;
}

.text-field--colored-faded input {
  background: transparent;
}
.text-field--colored-faded input {
  @apply text-primary;
}

/* TEXTFIELD BORDERLESS */
.text-field--borderless .text-field__slot {
  padding: 0;
}
.text-field--borderless .text-field__slot:before {
  content: none;
}

/* TEXTFIELD FOCUSED */
.text-field--focused.text-field--background-dark .text-field__slot,
.text-field--focused.text-field--colored .text-field__slot,
.text-field--focused.text-field--squared .text-field__slot {
  @apply bg-gray-darkest;
}
.text-field--focused.text-field--borderless .text-field__slot {
  background: transparent;
}

.text-field--solo {
  @apply pt-1;
}

.text-field--text-dark input{
  color: #131313;
}

.text-field__prepend {
  margin-right: 6px;
}

.text-field__append {
  margin-left: 6px;
}

.text-field__append-outer {
  @apply flex items-center;
}
.text-field__append-outer > div {
  @apply ml-2;
}

.text-field__state-icon {
  margin-left: 8px;
}

.heading input {
  font-weight: 700;
}

/* nd */

.text-field_nd {
  min-width: unset!important;
}
.text-field_nd .text-field__slot {
  border: none!important;
  border-radius: 4px;
  background-color: #222222;
}
.text-field_nd.text-field--focused .text-field__slot {
  background-color: #1e1e1e!important;
  box-shadow: 0 0 0 1px #5a8199;
}
.text-field_nd input {
  color: #5a8199!important;
}
.text-field_nd input:focus {
  color: #ffffff!important;
}
.text-field_nd input:disabled,
.text-field_nd input:disabled::placeholder {
  color: #2f2f2f!important;
}

/* nd */
