.text-area__controls {
  @apply relative w-full flex items-center;
}
.text-area__slot {
  @apply relative w-full flex items-center;
}
.text-area__slot:before {
  @apply absolute left-0 right-auto w-full;
  @apply border-t border-solid border-gray-light;
  content: "";
  bottom: -1px;
}

/* TEXTAREA LABEL */
.text-area__label {
  @apply absolute left-0 right-auto;
  @apply pointer-events-none truncate;
  @apply text-gray-lighter;
  top: 5px;
  height: 1.25em;
  max-width: 90%;
  transform-origin: top left;
  transition: .3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.text-area__label--active {
  @apply text-gray-light;
  max-width: 133%;
  transform: translateY(-18px) scale(0.75);
}

/* TEXTAREA TEXTAREA */
.text-area textarea {
  height: auto;
  display: block;
  @apply appearance-none outline-none w-full;
  @apply bg-accent1 text-white;
}
.text-area textarea::placeholder {
  @apply text-gray-lighter;
}

.text-area--single-line textarea {
  @apply appearance-none outline-none w-full;
}

/* TEXTAREA HAS ERROR STATE */
.text-area.has-error .text-area__label {
  @apply text-error;
}
.text-area.has-error .text-area__slot:before {
  @apply border-error;
}

.text-area--transparent textarea {
  background-color: transparent;
  color: #131313;
}

/* TEXTAREA OUTLINED */
/* .text-area--outlined {
  @apply leading-none text-base;
}
.text-area--outlined .text-area__slot {
  padding: 1px 8px;
  border-color: #4b4b4b;
  @apply border rounded-sm;
}
.text-area--outlined .text-area__slot:before {
  content: none;
}
.text-area--outlined input {
  background: transparent;
} */
.text-area--outlined input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  @apply text-gray-lighter;
}
.text-area--outlined input::-moz-placeholder { /* Firefox 19+ */
  @apply text-gray-lighter;
}
.text-area--outlined input:-ms-input-placeholder { /* IE 10+ */
  @apply text-gray-lighter;
}
.text-area--outlined input:-moz-placeholder { /* Firefox 18- */
  @apply text-gray-lighter;
}

.text-area--outlined input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  @apply text-gray-lighter;
}
.text-area--outlined input:focus::-moz-placeholder { /* Firefox 19+ */
  @apply text-gray-lighter;
}
.text-area--outlined input:focus:-ms-input-placeholder { /* IE 10+ */
  @apply text-gray-lighter;
}
.text-area--outlined input:focus:-moz-placeholder { /* Firefox 18- */
  @apply text-gray-lighter;
}

/* TEXTAREA SQUARED */
.text-area--outlined,
.text-area--squared {
  @apply text-base;
}
.text-area--outlined .text-area__slot,
.text-area--squared .text-area__slot {
  border-color: #4b4b4b;
  @apply border;
}
.text-area--outlined .text-area__slot:before,
.text-area--squared .text-area__slot:before {
  border: none;
}
.text-area--outlined textarea,
.text-area--squared textarea {
  padding: 0 8px;
  resize: none;
  @apply text-white;
}
.text-area--outlined textarea,
.text-area--squared textarea {
  background: transparent;
}
.text-area--outlined textarea:focus,
.text-area--square textarea:focus {
  outline: none;
}
.text-area--squared textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  @apply text-white;
}
.text-area--squared textarea::-moz-placeholder { /* Firefox 19+ */
  @apply text-white;
}
.text-area--squared textarea:-ms-input-placeholder { /* IE 10+ */
  @apply text-white;
}
.text-area--squared textarea:-moz-placeholder { /* Firefox 18- */
  @apply text-white;
}
.text-area--squared textarea:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  @apply text-gray-lighter;
}
.text-area--squared textarea:focus::-moz-placeholder { /* Firefox 19+ */
  @apply text-gray-lighter;
}
.text-area--squared textarea:focus:-ms-input-placeholder { /* IE 10+ */
  @apply text-gray-lighter;
}
.text-area--squared textarea:focus:-moz-placeholder { /* Firefox 18- */
  @apply text-gray-lighter;
}

/* TEXTAREA FOCUSED */
.text-area--focused.text-area--outlined .text-area__slot {
  @apply bg-gray-darkest;
}
.text-area--focused.text-area--squared .text-area__slot {
  @apply bg-gray-darkest;
}

.text-area--solo {
  @apply pt-1;
}

.text-area__prepend {
  margin-right: 6px;
}
.text-area__append {
  margin-left: 6px;
}

.text-area__append-outer {
  @apply flex items-center;
}
.text-area__append-outer > div {
  @apply ml-2;
}

.text-area__state-icon {
  margin-left: 8px;
}
