.toggle {
  height: 24px;
  padding-left: 8px;
  padding-right: 20px;
  position: relative;
  white-space: nowrap;
  @apply inline-flex items-center;
  @apply text-primary border border-primary rounded-full relative;
}
.toggle:hover {
  color: #6996B2;
  border-color: #6996B2;
}
.toggle input {
  opacity: 0;
  position: absolute;
  user-select: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.toggle.input {
  padding-bottom: 0;
}
.toggle .toggle__icon {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  @apply inline-flex relative;
  @apply pointer-events-none select-none;
}
.toggle--small {
  height: 18px;
  padding-left: 4px;
  padding-right: 10px;
  font-size: 12px;
}
.toggle--small .toggle__icon {
  margin-right: 4px;
}
.toggle--large {
  height: 36px;
  padding: 0 35px;
}