.v-tooltip__content {
  background-color: #585858!important;
  color: #AAA!important;
  border-radius: 6px!important;
  line-height: 1.25!important;
  padding: 20px!important;
  opacity: 1!important;
}
