.overflow-scroll-touch {
  -webkit-overflow-scrolling: touch;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

/* Full height dialog override */
.dialog-full-height {
  max-height: 100% !important;
}

/* Temp class */
.input-transparent {
  background: transparent!important;
}

/* <-- DOTS */
.dots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
.dots::before {
  display: block;
  content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
  ;
}
/* DOTS --> */
