html,
body {
  @apply h-full;
}

body {
  @apply p-0 m-0;
  @apply font-myriad;
}

h1 {
  @apply text-2xl mb-8 leading-none;
}
@screen lg {
  h1 {
    @apply text-3xl;
  }
}

.headline {
  max-width: 460px;
  @apply text-center mb-0 pt-10 mx-auto;
}
.headline > span:first-child {
  @apply text-white mr-2 inline;
}
.headline > span:last-child {
  @apply text-gray-lightest;
}

@screen sm {
  .headline {
    @apply text-left mx-0;
  }
  .headline > span:first-child {
    @apply block;
  }
}

@screen md {
  .headline {
    @apply mb-8 pt-12;
  }
  .headline > span:first-child {
    @apply text-gray-lightest;
  }
  .headline > span:last-child {
    @apply text-white;
  }
}

/* Turn Off Number Input Arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* Turn Off Date Input Arrows */
[type="date"]::-webkit-inner-spin-button {
  display: none;
}

img {
  border-style: none;
}

/* <-- SWITCH */

.switch input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  display: inline-block;
  position: relative;
  font-size: 18px;
  height: 24px;
  width: 45px;
  user-select: none;
  margin-right: 8px;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222222;
  border-radius: 50px;
  transition: all 300ms;
}
.switch-slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  border-radius: 50px;
  background-color: #676767;
  transition: all 300ms;
}

.switch input:checked + .switch-slider {
  background-color: #7E99D0;
}
.switch input:checked + .switch-slider::before {
  background-color: #ffffff;
  transform: translateX(21px);
}

/* SWITCH --> */

.overflow-scroll-touch {
  -webkit-overflow-scrolling: touch;
}
