html,
body {
  @apply h-full;
}

body {
  @apply p-0 m-0;
  @apply font-myriad;
}

h1 {
  @apply text-2xl mb-8 leading-none;
}
@screen lg {
  h1 {
    @apply text-3xl;
  }
}

.headline {
  max-width: 460px;
  @apply text-center mb-0 pt-10 mx-auto;
}
.headline > span:first-child {
  @apply text-white mr-2 inline;
}
.headline > span:last-child {
  @apply text-gray-lightest;
}

@screen sm {
  .headline {
    @apply text-left mx-0;
  }
  .headline > span:first-child {
    @apply block;
  }
}

@screen md {
  .headline {
    @apply mb-8 pt-12;
  }
  .headline > span:first-child {
    @apply text-gray-lightest;
  }
  .headline > span:last-child {
    @apply text-white;
  }
}

/* Turn Off Number Input Arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* Turn Off Date Input Arrows */
[type="date"]::-webkit-inner-spin-button {
  display: none;
}

img {
  border-style: none;
}

/* <-- SWITCH */

.switch input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  display: inline-block;
  position: relative;
  font-size: 18px;
  height: 24px;
  width: 45px;
  user-select: none;
  margin-right: 8px;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222222;
  border-radius: 50px;
  transition: all 300ms;
}
.switch-slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  border-radius: 50px;
  background-color: #676767;
  transition: all 300ms;
}

.switch input:checked + .switch-slider {
  background-color: #7E99D0;
}
.switch input:checked + .switch-slider::before {
  background-color: #ffffff;
  transform: translateX(21px);
}

/* SWITCH --> */

/* <-- SIMPLE SELECT */

.simple-select {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  background: transparent;
  padding-left: .15em;
  padding-right: .65em;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
	background-position: right .1em top 50%, 0 0;
	/* icon size, then gradient */
	background-size: .45em auto, 100%;
}
.simple-select:disabled {
  background: none;
}

/* SIMPLE SELECT --> */

.overflow-scroll-touch {
  -webkit-overflow-scrolling: touch;
}
