.overflow-scroll-touch {
  -webkit-overflow-scrolling: touch;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.border-spacing-y-px {
  border-spacing: 0 1px;
}
.border-spacing-y-1 {
  border-spacing: 0 4px;
}
.border-spacing-y-2 {
  border-spacing: 0 8px;
}

.bg-gradient-dark {
  background: linear-gradient(180deg, #1E1E1E 0%, rgba(30, 30, 30, 0) 100%);
}
.bg-gradient-dark-half {
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.56) 0%, rgba(30, 30, 30, 0) 100%);
}

/* DOTS */
.dots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
.dots::before {
  display: block;
  content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
  ;
}

/* Hide scrollbar */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hidden::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent;
}
.scrollbar-hidden::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background-color: transparent;
}
.scrollbar-hidden::-webkit-scrollbar-thumb {
  width: 0 !important;
  height: 0 !important;
  background-color: transparent;
}
/*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/
.scrollbar-hidden::-webkit-scrollbar-corner { display: none; height: 0px; width: 0px; }
