.overflow-scroll-touch {
  -webkit-overflow-scrolling: touch;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.border-spacing-y-px {
  border-spacing: 0 1px;
}
.border-spacing-y-1 {
  border-spacing: 0 4px;
}
.border-spacing-y-2 {
  border-spacing: 0 8px;
}

.bg-gradient-dark {
  background: linear-gradient(180deg, #1E1E1E 0%, rgba(30, 30, 30, 0) 100%);
}
.bg-gradient-dark-half {
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.56) 0%, rgba(30, 30, 30, 0) 100%);
}

/* DOTS */
.dots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
.dots::before {
  display: block;
  content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
  ;
}
