@layer components {
  .overlay-wrapper {
    @apply flex items-center justify-center inset-0;
    @apply fixed;
    @apply pointer-events-none;
    /* @apply transition ease-out-quart duration-300; */
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), z-index 1ms;
  }
  
  .overlay {
    border-radius: inherit;
    transition: inherit;
    will-change: opacity;
    @apply absolute h-full w-full inset-0 bg-gray-900;
  }
}
