.btn-toggle {
  @apply flex items-center;
}

.btn-toggle__item {
  @apply focus:outline-none px-4;
  @apply h-10 select-none relative border-l border-t border-b;
  @apply bg-light-gray-200 text-gray-200 border-light-gray-400;
  @apply dark:bg-gray-500 dark:text-gray-100 dark:border-gray-900;
  @apply hover:text-black dark:hover:text-white hover:bg-white dark:hover:bg-gray-800;
  @apply active:text-black dark:active:text-white active:bg-white dark:active:bg-gray-800;
  @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:text-gray-100 dark:disabled:text-gray-300 disabled:bg-light-gray-200 dark:disabled:bg-gray-500;
  @apply transition-bg-and-color duration-100 ease-in-out;
}

.btn-toggle__item::before {
  content: '';
  @apply absolute inset-0 pointer-events-none;
}

.btn-toggle__item:focus::before {
  @apply z-1 ring ring-blue-400;
}
.btn-toggle__item:focus:not(:focus-visible)::before {
  box-shadow: none;
  outline: 0;
}
.btn-toggle__item:last-child {
  @apply border-r;
}

.btn-toggle__item:first-child,
.btn-toggle__item:first-child::before {
  @apply rounded-l-lg;
}
.btn-toggle__item:last-child,
.btn-toggle__item:last-child::before {
  @apply rounded-r-lg;
}

.btn-toggle__item--active {
  @apply bg-white text-black;
  @apply dark:bg-gray-800 dark:text-white;
  @apply hover:bg-white dark:hover:bg-gray-800;
  @apply disabled:bg-white dark:disabled:bg-gray-800;
  @apply shadow-inner-pressed-day dark:shadow-inner-pressed-night;
}
