@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import url(../../src/styles/input.css);
@import url(../../src/styles/popper.css);

@import url(../../src/components/Alert/Alert.css);
@import url(../../src/components/Autocomplete/Autocomplete.css);
@import url(../../src/components/Btn/Btn.css);
@import url(../../src/components/BtnToggle/BtnToggle.css);
@import url(../../src/components/Checkbox/Checkbox.css);
@import url(../../src/components/DataTable/DataTable.css);
@import url(../../src/components/ExpandTransition/ExpandTransition.css);
@import url(../../src/components/Icon/Icon.css);
@import url(../../src/components/Image/Image.css);
@import url(../../src/components/Label/Label.css);
@import url(../../src/components/LoadingSpinner/LoadingSpinner.css);
@import url(../../src/components/Menu/Menu.css);
@import url(../../src/components/Menu/MenuItem.css);
@import url(../../src/components/Messages/Messages.css);
@import url(../../src/components/Modal/Modal.css);
@import url(../../src/components/Progress/Progress.css);
@import url(../../src/components/Radio/Radio.css);
@import url(../../src/components/Select/Select.css);
@import url(../../src/components/Switch/Switch.css);
@import url(../../src/components/TextArea/TextArea.css);
@import url(../../src/components/Tooltip/Tooltip.css);
@import url(../../src/components/transitions/transitions.css);

@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
    @apply font-sans antialiased;
    @apply p-0 m-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply dark:text-white;
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
  h4 {
    font-size: 20px;
    line-height: 24px;
  }
  h5 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }

  a.header-anchor {
    float: left;
    margin-top: 0.125em;
    margin-left: -0.8em;
    padding-right: 0.2em;
    font-size: 0.85em;
    opacity: 0;
    @apply text-blue-500;
  }
  h1:hover .header-anchor,
  h2:hover .header-anchor,
  h3:hover .header-anchor,
  h4:hover .header-anchor,
  h5:hover .header-anchor,
  h6:hover .header-anchor {
    opacity: 1;
  }
  a.header-anchor:focus {
    opacity: 1;
  }
  a.header-anchor:hover,
  a.header-anchor:focus {
    text-decoration: none;
  }

  h1 {
    margin-bottom: 1rem;
  }
  h2 {
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;
    font-weight: 400;
  }

  [class~='language-vue']:before {
    content: 'vue';
  }

  main a {
    @apply leading-tight text-blue-500 hover:text-blue-400;
  }
  main hr {
    @apply border-light-gray-400 my-4;
  }
  main ul {
    @apply list-disc list-inside;
  }

  main p > code {
    font-size: 14px;
  }
  main table p > code {
    font-size: 12px;
  }
  main .font-mono .token.keyword {
    color: #6196cc;
  }
  .api-table__default {
    border-radius: 3px;
    background: #f5f2f0;
    padding: 4px 8px;
  }
  .api-table__default pre {
    overflow-x: auto;
    max-width: 14rem;
  }
  .api-table__default code {
    background: #f5f2f0;
  }
}

@layer utilities {
  .max-w-8xl {
    max-width: 90rem;
  }
  /* page height with navbar offset .h-12 (3rem) */
  .h-page-wrapper {
    height: calc(100vh - 3rem);
  }
}
