.expand-transition-enter-active,
.expand-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.expand-transition-move {
  transition: transform 0.6s;
}
.expand-x-transition-enter-active,
.expand-x-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.expand-x-transition-move {
  transition: transform 0.6s;
}
